.popup {
  width: 300px;
  height: 300px;
  background-color: #aeaeae;
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  display: none;
  transition: all 2s; }
  .popup:target {
    display: block; }
  .popup-close {
    position: absolute;
    top: 2em;
    right: 3rem;
    text-decoration: none; }
