/* импорт шрифтов */
@import 'fonts';

/* миксы цветов */
$dark-color: rgb(32, 24, 66);

$light-color: rgb(255, 255, 62);

$line-color: rgba(164, 164, 164,.2);

$header-text-color: #fff;

/* шапка */
body {
	color: $dark-color;
}
header {
	height: 100vh;
	min-height: 60rem; 
	background: url(../img/bg-header.jpg) no-repeat center center;
}

/* основной блок шапки  */
.header {
	&-top-block {
		background-color: #fff;
		box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
		height: 10rem;
	}
	/*логотип*/
	&-logo {
		height: 10rem;
		line-height: 10rem;		
	  img {
	  	vertical-align: middle;
	  }
	  span {
	  	@extend .reg;
	  	vertical-align: middle;
	  	margin-left: 1rem;
	  }
	}
	/* главное меню */
	&-nav {
		order-left: 1px solid $line-color;
		-webkit-margin-before: 1em;
		-webkit-margin-after: 1em;
		text-align: center;
		height: 10rem;
		line-height: 10rem;
		margin: 0;
		
		li {			
			display: inline-block;
			margin: 0 1rem;
			a {
				font-size: 1.6rem;
				text-transform: uppercase;
				@extend .reg;
				color: $dark-color;
				text-decoration: none;					
			}
			&.item-active a {
				@extend .bold;
				color: $light-color;
			}
	}
	}
	/*блок обратный звонок*/
	&-callback {
		text-align: center;
		&-text {
			p {
				padding-top: 1rem;
				font-size: 1.2rem;
			}
		}
		&_btn {
			display: inline-block;
			margin-right: 2rem;
			padding: 1rem 2.5rem;			
			color: $dark-color;
			background-color: $light-color;
			@extend .bold;

		}
		&_phone {
			border-left: 1px solid $line-color;
			font-weight: bold;
			color: $dark-color;
			font-size: 2.5rem;
			padding-left: 2rem;
		}
	}
	&-text-block {
		text-align: center;
		padding-top: 5%;
		color: $header-text-color;
		h1 {
			font-size: 4rem;
			@include header-font-normal;
			margin-bottom: 2rem;		
		}
		p {
			font-size: 2rem;
			@extend .reg;

		}
	}
	&-main-img {
		margin-top: 2rem;
	}
}
.main {
	&-form-block {
		font-weight: bold;
		width: 50rem;
		height: 9rem;
		margin: 5rem auto;
		text-align: center;
		padding: 2rem;
		background-color: transparentize($header-text-color, .5);
	}
	&-form-input {
		display: inline-block;
		background-color: #fff;
		padding: 1rem;
		height: 5rem;
		vertical-align: middle;
		margin-right: -4px;
		border: none;
	}
	&-form-btn {
		display: inline-block;
		background-color: $light-color;
		height: 5rem;
		color: #8b6552;
		border: none;
		vertical-align: middle;
		padding: 1rem;
		margin-left: -3px;
		
	}
}
.input-addon {
	display: inline-block;
	background-color: $light-color;
	line-height: 5rem;
	width: 5rem;
	vertical-align: middle;
}