@charset "UTF-8";
@media -sass-debug-info{filename{font-family:file\:\/\/B\:\/alexxlefa\/alexxlefa\.github\.io\/lesson_19\/less\/style\.scss}line{font-family:\000031}}
body {
  color: #fff;
  font-family: Open Sans; }

@media -sass-debug-info{filename{font-family:file\:\/\/B\:\/alexxlefa\/alexxlefa\.github\.io\/lesson_19\/less\/style\.scss}line{font-family:\000035}}
h1 {
  font-size: 4rem;
  font-weight: 900;
  text-transform: uppercase; }

@media -sass-debug-info{filename{font-family:file\:\/\/B\:\/alexxlefa\/alexxlefa\.github\.io\/lesson_19\/less\/style\.scss}line{font-family:\0000310}}
h3 span {
  color: #e0b759; }

@media -sass-debug-info{filename{font-family:file\:\/\/B\:\/alexxlefa\/alexxlefa\.github\.io\/lesson_19\/less\/style\.scss}line{font-family:\0000313}}
.no_margin {
  margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/B\:\/alexxlefa\/alexxlefa\.github\.io\/lesson_19\/less\/style\.scss}line{font-family:\0000318}}
.main_header {
  width: 100%;
  height: 100vh;
  background-image: -webkit-linear-gradient(45deg, rgba(242, 70, 69, 0.22), rgba(235, 192, 141, 0.7)), url(../img/bg_slon.jpg);
  background-image: linear-gradient(45deg, rgba(242, 70, 69, 0.22), rgba(235, 192, 141, 0.7)), url(../img/bg_slon.jpg);
  background-repeat: none;
  background-position: left;
  background-size: cover; }
@media -sass-debug-info{filename{font-family:file\:\/\/B\:\/alexxlefa\/alexxlefa\.github\.io\/lesson_19\/less\/style\.scss}line{font-family:\0000325}}
  .main_header_form_login {
    height: 8rem;
    line-height: 8rem;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/B\:\/alexxlefa\/alexxlefa\.github\.io\/lesson_19\/less\/style\.scss}line{font-family:\0000331}}
    .main_header_form_login .modal-link {
      font-family: Open Sans;
      text-decoration: none;
      color: #fff;
      text-transform: uppercase;
      border: 2px solid #fff;
      padding: 2rem 1rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/B\:\/alexxlefa\/alexxlefa\.github\.io\/lesson_19\/less\/style\.scss}line{font-family:\0000338}}
      .main_header_form_login .modal-link:hover {
        color: #e0b759;
        border: 2px solid #e0b759; }
@media -sass-debug-info{filename{font-family:file\:\/\/B\:\/alexxlefa\/alexxlefa\.github\.io\/lesson_19\/less\/style\.scss}line{font-family:\0000344}}
  .main_header_sale {
    margin-top: 12rem;
    background-color: rgba(0, 0, 0, 0.6);
    border: 3px solid #fff;
    padding: 1rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/B\:\/alexxlefa\/alexxlefa\.github\.io\/lesson_19\/less\/style\.scss}line{font-family:\0000353}}
.popup {
  background-color: #41372A;
  display: none;
  width: 40rem;
  height: auto;
  position: fixed;
  left: 50%;
  top: 20%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  color: #fff;
  padding: 2rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/B\:\/alexxlefa\/alexxlefa\.github\.io\/lesson_19\/less\/style\.scss}line{font-family:\0000365}}
  .popup-overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(81, 96, 99, 0.79);
    display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/B\:\/alexxlefa\/alexxlefa\.github\.io\/lesson_19\/less\/style\.scss}line{font-family:\0000377}}
  .popup-close {
    color: #fff;
    font-size: 3rem;
    position: absolute;
    top: 10px;
    right: 15px;
    text-decoration: none;
    -webkit-transition: all .5s;
            transition: all .5s;
    opacity: .6; }
@media -sass-debug-info{filename{font-family:file\:\/\/B\:\/alexxlefa\/alexxlefa\.github\.io\/lesson_19\/less\/style\.scss}line{font-family:\0000386}}
    .popup-close:hover {
      text-decoration: none;
      opacity: 1;
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg);
      color: black; }

/*╤Д╨╛╤А╨╝╨░*/
@media -sass-debug-info{filename{font-family:file\:\/\/B\:\/alexxlefa\/alexxlefa\.github\.io\/lesson_19\/less\/style\.scss}line{font-family:\0000397}}
form {
  margin-top: 2rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/B\:\/alexxlefa\/alexxlefa\.github\.io\/lesson_19\/less\/style\.scss}line{font-family:\00003100}}
  form .input_line {
    position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/B\:\/alexxlefa\/alexxlefa\.github\.io\/lesson_19\/less\/style\.scss}line{font-family:\00003103}}
  form input {
    padding-left: 50px;
    text-decoration: none;
    color: #69451F;
    height: 50px;
    width: 100%;
    line-height: 50px;
    margin-bottom: 25px; }
@media -sass-debug-info{filename{font-family:file\:\/\/B\:\/alexxlefa\/alexxlefa\.github\.io\/lesson_19\/less\/style\.scss}line{font-family:\00003114}}
  form .fa {
    position: absolute;
    top: 10px;
    left: 15px;
    color: #CCAA60;
    font-size: 25px; }
@media -sass-debug-info{filename{font-family:file\:\/\/B\:\/alexxlefa\/alexxlefa\.github\.io\/lesson_19\/less\/style\.scss}line{font-family:\00003121}}
  form .btn {
    background-color: #F4D580;
    color: #69451F; }

@media -sass-debug-info{filename{font-family:file\:\/\/B\:\/alexxlefa\/alexxlefa\.github\.io\/lesson_19\/less\/style\.scss}line{font-family:\00003127}}
.box {
  display: inline-block;
  margin: 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/B\:\/alexxlefa\/alexxlefa\.github\.io\/lesson_19\/less\/style\.scss}line{font-family:\00003131}}
  .box .price {
    margin: 10px;
    border: 1px solid #e0b759;
    -webkit-transition: all .5s;
            transition: all .5s; }
@media -sass-debug-info{filename{font-family:file\:\/\/B\:\/alexxlefa\/alexxlefa\.github\.io\/lesson_19\/less\/style\.scss}line{font-family:\00003135}}
    .box .price:hover {
      border: 1px solid #ccc; }
@media -sass-debug-info{filename{font-family:file\:\/\/B\:\/alexxlefa\/alexxlefa\.github\.io\/lesson_19\/less\/style\.scss}line{font-family:\00003139}}
  .box img {
    height: 150px;
    width: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/B\:\/alexxlefa\/alexxlefa\.github\.io\/lesson_19\/less\/style\.scss}line{font-family:\00003144}}
  .box a {
    display: inline-block;
    text-decoration: none;
    color: #e0b759; }

@media -sass-debug-info{filename{font-family:file\:\/\/B\:\/alexxlefa\/alexxlefa\.github\.io\/lesson_19\/less\/style\.scss}line{font-family:\00003150}}
.modal-title, .control-label {
  color: #555; }
