/* Шрифты */
/* mixin */
.reg {	
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}
.semi {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
}
.bold {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}
@mixin header-font {
	font-family: 'Raleway';
	font-weight: bold;
}
@mixin  header-font-normal {
	font-family: 'Raleway';
	font-weight: normal;
}

