

.text-box{
	padding-top: 2rem;
}
.result {
	margin-bottom: 0;
	margin-top: 3rem;
}
.fonts {
	font-size: 2rem;
	text-align: center;
	padding: 2rem;
}
small {
	font-size: 1.3rem;
}
.text_OS {
	font-family: 'Open Sans', sans-serif;
}
.text_bebas {
	font-family: 'Bebas';
}
.text_lato {
	font-family: 'Lato';
}
.text_Lobster {
	font-family: 'Lobster', cursive;
}